body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    background: rgb(2,0,36);
    background: linear-gradient(3deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9472163865546218) 5%, rgba(0,212,255,1) 100%);

}

.container{
    max-width: 400px;
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}
